@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Copperplate';
		font-style: normal;
		font-weight: 300;

		src: url('/fonts/Copperplate/Copperplate-Light.ttf') format('truetype');
	}

	@font-face {
		font-family: 'Copperplate';
		font-style: normal;
		font-weight: 400;

		src: url('/fonts/Copperplate/Copperplate-Regular.ttf') format('truetype');
	}

	@font-face {
		font-family: 'Copperplate';
		font-style: normal;
		font-weight: 600;

		src: url('/fonts/Copperplate/Copperplate-Bold.ttf') format('truetype');
	}

	@font-face {
		font-family: 'Nunito';
		font-style: normal;
		font-weight: 400;

		src: url('/fonts/Nunito/Nunito-Regular.ttf') format('truetype');
	}

	@font-face {
		font-family: 'Nunito';
		font-style: normal;
		font-weight: 600;

		src: url('/fonts/Nunito/Nunito-Bold.ttf') format('truetype');
	}

	@font-face {
		font-family: 'Conduit';
		font-style: normal;
		font-weight: 400;

		src: url('/fonts/Conduit/Conduit-Regular.ttf') format('truetype');
	}

	@font-face {
		font-family: 'Conduit';
		font-style: normal;
		font-weight: 600;

		src: url('/fonts/Conduit/Conduit-Bold.ttf') format('truetype');
	}
}

@layer components {
	.background-image {
		@apply absolute top-0 right-0 bottom-0 left-0 bg-center bg-cover bg-no-repeat;
	}

	.question-panel__row {
		@apply grow h-[4px] bg-center bg-contain bg-question-panel-row bg-repeat-x;
	}

	.answer-panel {
		@apply flex flex-row items-center absolute right-0 left-0;
	}

	.answer-panel__row {
		@apply grow h-[2px] bg-center bg-contain bg-answer-panel-row bg-repeat-x;
	}

	.answer-panel__container {
		@apply flex flex-row shrink-0 items-center relative w-[707px] h-[74px] overflow-hidden;
	}

	.answer-panel__background {
		@apply bg-answer-panel-background;
	}

	.answer-panel__container--final .answer-panel__background {
		@apply bg-answer-panel-background--final;
	}

	.answer-panel__container--final .answer-panel__letter {
		@apply text-black;
	}

	.answer-panel__border {
		@apply bg-answer-panel-border;
	}

	.answer-panel__body {
		@apply flex flex-row grow items-center relative px-[37px] overflow-hidden;
	}

	.answer-panel__letter,
	.answer-panel__text {
		@apply text-[38px] cursor-default select-none;
	}

	.answer-panel__letter {
		@apply shrink-0 w-[58px] mr-[16px] text-orange text-right;
	}

	.answer-panel__text {
		@apply grow overflow-hidden text-white text-nowrap tracking-[-0.8px];
	}
}
